* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.triangle {
    height: 0;
    width: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.heart {
    position: relative;
}

.heart::after,
.heart::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 175px;
    background: crimson;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    transform-origin: 100% 100%;
    left: -100px;
    transform: rotate(45deg);
}

.coeur {
    position: relative;

}

.coeur::before,
.coeur::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 175px;
    border-radius: 50px 50px 0 0;
    background: green;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.coeur::after {
    left: -100px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.infini {
    position: relative;
}

.infini::before,
.infini::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border: 20px solid rgb(2, 109, 250);
    border-radius: 50px 50px 0 50px;
    transform: rotate(135deg);
}

.infini::after {
    border-radius: 50px 50px 50px 0;
    right: 15px;
    transform: rotate(-135deg);
}

.egg {
    width: 140px;
    height: 180px;
    background: rgba(255, 255, 0, 0.626);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}