@font-face {
    font-family: fontAll;
    src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    font-family: "fontAll", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

p {
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    line-height: 20px;
}

.accordion-header p:hover {
    color: hsl(293, 51%, 44%);
    cursor: pointer;
}

p.description {
    font-size: 14px;
    font-weight: 500;
    color: hsl(292, 16%, 49%);
}

.background__design {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 40vh;
    width: 100%;
    background: url(../assets/images/background-pattern-desktop.svg);
}

.card__accordion {
    width: 90%;
    max-width: 600px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 60px 0px #00000047;
}

.title {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.title img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.title h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(292, 42%, 14%);
}

.accordion {
    margin: 20px 0;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-header img {
    width: 25px;
    height: 25px;
}

.accordion-header img:hover {
    transform: scale(1.2);
    transition: .3s ease;
}

.accordion-header img:active {
    transform: scale(.9);
    transition: .3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion-content.open {
    /* Ajuster en fonction de la hauteur du contenu */
    max-height: 300px; 
    transition: max-height 0.8s ease;
}

hr {
    border: 1px solid hsla(293, 16%, 49%, 0.050);
    margin: 10px 0;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .card__accordion {
        width: 60%;
    }
}
